
:root {
  /* overflow: hidden; */
}

#root {
  background-image: url(./images/background.svg);
  background-repeat:no-repeat;
  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
  background-position: center;
  background-size: cover;
min-height: 100vh;

  /* overflow: hidden; */
}

.App {
  text-align: center;
}

header {
  height: fit-content;
  background-color: rgba(223, 255, 202, 0.7);
  margin-bottom: 0px !important;
}

footer {
  position:relative;
  bottom:0px;
}

.navbar-cont {
  margin-bottom: 0px !important;
}

.navbar {
  text-decoration: none;
  color: #50a060;
}

.navbar:hover {
  color: rgb(33, 70, 9);
}

li {
  display: inline-block;
  margin: 15px;
  font-weight: bolder;
  list-style-type: none;
}

.logo {
  float: right;
  margin-top: 10px;
  width: 300px;
  height: 50px;
  object-fit: cover;
}

.tile-container {
  padding-top: 50px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.tile-cont {
  position: relative;
  text-align: center;
  transition: 0.2s ease-in-out;
  margin:25px;
  
}

.tile-url {
  z-index: 100;
}

.tile {
  display: inline-block;
  color: aliceblue;
  width: 450px;
  height:250px;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.3);
}

.tile::before {
  content: '';
  z-index: 10;
  background-image: linear-gradient(to bottom, rgba(223, 255, 202, 0.055) , rgb(19, 24, 14));
  background-size: cover;
   width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.tile-title {
  text-shadow: 5px 3px 7px rgb(0, 0, 0);
  font-weight: lighter;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.tile-image {
  width: 100%;
  height:100%;
  border-radius: 5px;
}

.tile-cont:hover {
transform: scale(1.03);
}

input{
  text-indent: 10px;
}

.container-fluid {
  padding: 0px !important;
}

.search-cont {
  background-color: rgba(223, 255, 202, 0.7);
  height: 70px;
  width: 100%;
  padding-top:10px;
  padding-left: 20px;
  padding-right: 20px;
}

.search {
  display: inline !important;
  border-radius: 0px !important;
  width: 85% !important;
  height: 40px !important;
  border-style: solid;
  border-color: #50a060 !important;
  border-width: 1px !important;
}

.login-input {

  margin-left: 7%;
  margin-right: 7%;
  border-radius: 0px !important;
  width: 85% !important;
  height: 40px !important;
  border-style: solid;
  border-color: #50a060 !important;
  border-width: 1px !important;
  
}

.search-button, .login-button{
  border-color:  #366e41 !important;
  background-color:  #50a060 !important;
  vertical-align:top !important;
  border-radius: 0px !important;
  display: inline;
  height: 40px;
  width: 15%;
}

.profile {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.prof-1 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
}

.profile-cont, .login-cont {
  display: flex;
  padding-bottom: 15px;
  background-color: rgba(223, 255, 202, 0.7);
  width: 100vw;
  height: 85vh;
  overflow:auto;
}

.login-cont {
background-color: transparent;
  width: 100%;
}

.login-card {
  border-style: none !important;
  background-color: rgba(223, 255, 202, 0.7) !important;
  width: 30% !important;
  height: 50% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: 5px 3px 20px 5px rgba(0, 0, 0, 0.2);
}

.login-header {
  width:100% !important;
  background-color: #50a060 !important;
  color: rgba(223, 255, 202, 0.7) !important;
}

.OOT-cont, .wishlist-cont  {
  display:flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-style: solid;
  border-color: #50a060;
  margin:0px;
  
}

.trade-cont {
  width: 50%;
  height: 100%;
  border-style: solid;
  border-color: #50a060;
  float:right;
  margin: 0px;
}


.profile-header {
  color: #50a060;;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 15px;
}

.prof-sub-header {
  background-color:#50a060;
  color: rgba(223, 255, 202, 0.7);
  font-size: 24px;
  font-weight: bolder;
  padding-left:15px;
  padding-bottom: 5px;
}

.wl-container {
  padding:10px;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #50a060;
}


.wl-item {
  color:#50a060;
  font-weight: bolder;
  padding: 10px;

}

.wl-button {
  background-color: transparent;
  border: none;
  color:#50a060;
  font-weight: bolder;
  float: right;
}

@media only screen and (max-width: 710px) {
.logo {
  display: none
}

.profile-header, .prof-sub-header {
font-size: 16px;
}

.wl-container {
  padding: 5px;
}

.wl-item, .wl-button {
  font-size:12px;

}


}

@media only screen and (max-width: 430px) {

  
  .profile-header, .prof-sub-header {
  font-size: 12px;
  }
  
  .wl-container {
    padding: 2px;
    display:flex;
  }
  
  .wl-item, .wl-button {
    font-size:8px;
  
  }
  
  
  }

  @media only screen and (max-width: 400px) {
    li {
      margin: 5px;

    }
  }




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


